body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../Content/sport.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.creation {
    float: right;
}

.evenementCree {
    float: left;
}

.description {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
}

.listeEvenemenet {
    border-width: 1px;
    border-style: dotted;
    border-color: black;
    border-radius: 5px;
    background-color: antiquewhite
}

.toutEvenement {
    border-width: 1px;
    border-style: dotted;
    border-color: black;
    border-radius: 5px;
    margin-top: 20px;
    margin-right:20px;
    background-color: antiquewhite
}

.listeParticipant {
    border-width: 2px;
    border-style:solid;
    border-color: black;
    border-radius: 5px;
    margin-top: 10px;
    background-color: antiquewhite;
  
  
}

.span{
    color:indianred;
    margin-bottom:0;

    }

    .divtableau {
        background-color: antiquewhite;
        margin-top: 15px;
        float: left;
    }

.table {
    background-color: antiquewhite;
}

.complet p{
    background-color: orangered;
   // width:50%;
   text-align:center;
  
       
}

#contenue{
   width:auto;
   height:100px;
   padding:10px;
}

.titre{
    width:100%;
    background-color:black;
    color:white;
    margin:0 0 0 0;
    margin-inline:inherit;
    padding:5px;
    

}
.titre h3 {
        align-items: center;
        display: flex;
        justify-content: center;
 }

