@{
    ViewBag.Title = "About";
}


<p>  L’idée de l’application est de concevoir une application web qui permet de faciliter l’organisation d’un évènement sportif et pouvoir le partager aux plus grands nombres de personnes. Les domaines visés sont le domaine sportif et le domaine de la gestion des évènements.'.</p>
<br />
<h3>Les objectifs </h3>
<ul>
    <li>Faciliter l’organisation d’un évènement sportif </li>
    <li>Aider les organisateurs de leurs trouver plus de participants </li>
    <li>Créer un lien entre les organisateurs et les potentiels participants </li>
</ul>

<h3>Les fonctionnalites</h3>
<ul>
    <li>Trouver facilement des participants </li>
    <li>Gérer un évènement et notifier les participants à temps réel </li>
    <li>Trouver facilement des évènements du sport préféré </li>
    <li>Créer un évènement </li>
    <li>Filtrer la recherche </li>
    <li>Rejoindre un évènement  </li>
    <li>Créer des groupes </li>
    <li>Noter l’évènement </li>
</ul>
