@{
    ViewBag.Title = "Home Page";
}

<div id="contenueAcceuil">
    <h1>Bienvenue a EvenetToJoin</h1>
    <p>
        Le site web est pour le grand publics qui ont 18 ans et plus, pour pouvoir trouver une activitee sportives autour de vous,
        ca permet de creer ou rejoindre un evenmenet tres facilement ,amusez-vous bien!
    </p>


</div>

<div class="row">

</div>